.shop-btn {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-top: $brand-border $brand-primary;
  border-right: $brand-border $brand-primary;
  font-size: 1.4rem;

  &:last-child {
    border-right: 0;
  }

  &:hover {
    background: $brand-primary;
    color: $brand-white;
  }
}
