.shop-btn {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 2px solid $brand-color;
  font-size: 1.4rem;
}

.dropdown__options {
  display: none;
  list-style-type: none;
}
