figure {
  display: flex;
  flex-grow: 1;
}

.grid-item {
  max-width: $max-width;
}

.shop-item__pic {
  max-height: 12rem;

}

.shop-item__info {
  vertical-align: middle;
  flex-grow: 1;
}

.shop-item__btns {
  flex-direction: column;
  border-left: $brand-border;
}

.shop-btn {
  border-top: 0;
  border-right: 0;
  border-bottom: $brand-border;

  &:last-child {
    border-bottom: 0;
  }
  &:hover {
    .dropdown__options {
      top: 85%;
      left: -480%;
      transform: rotate(-90deg);
    }
  }
}

.dropdown__options-item {

}
