$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$gutter: 2rem;
$max-width: 60rem;
$brand-primary: #3473b5;
$brand-border: 2px solid;
$brand-white: #fff;
$brand-pink: #e577aa;
$brand-blue: #72bbe9;
$brand-green: #7abe93;
$brand-yellow: #e5b178;
