// @import 'yoga';
// @import 'normalize';

@import 'variables';
@import 'font-awesome';
@import 'base';
@import 'grid';
@import 'shop-item';
@import 'shop-btn';
@import 'dropdown';

.outer-container {
  display: flex;
  padding: $gutter;
}

.container {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-grow: 1;
  max-width: 30%;
  margin: $gutter;
  border: 3px solid $brand-color;
}
