// @import 'yoga';
// @import 'normalize';

@import 'variables';
@import 'font-awesome';
@import 'base';
@import 'grid';
@import 'shop-item';
@import 'shop-btn';
@import 'dropdown';

.outer-container {
  display: flex;
  padding: 2rem;
}

.container {
  max-width: 90%;
  display: flex;
}

.row {
  display: flex;

}
